@model List<Users.Web.Models.UserViewModel>

@{
    ViewBag.Title = "Users";
    <h2>@ViewBag.Title</h2>
}

<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Email</th>
            <th class="text-center">Edit</th>
            <th class="text-center">Delete</th>
        </tr>
    </thead>
    @{
        foreach (var u in Model)
        {
            <tr>
                <td>@u.Id</td>
                <td>@u.UserName</td>
                <td>@u.Email</td>
                <td class="text-center">
                    @Html.ActionLink(" ", "Edit", new { id = u.Id }, new { @class = "btn glyphicon glyphicon-edit" })
                </td>
                <td class="text-center">
                    @Html.ActionLink(" ", "Delete", new { id = u.Id }, new { @class = "btn text-danger glyphicon glyphicon-trash" })
                </td>
            </tr>
        }
    }
</table>
@Html.ActionLink("Add New User", "Add", null, new { @class = "btn btn-primary right" })
@{
    for (int i = 1; i <= ViewBag.NumberOfPages; i += 10)
    {
        @Html.ActionLink($"{i / 10 % 10 + 1}", "Index", new { @id = i / 10 % 10 + 1 }, new { @class = "btn" })
    }
}

